@use '../../../assets/styles/scss/' as *;

.btn {
	span {
		position: relative;
	}
	span::after,
	span::before {
		content: '';
	}

	&:hover {
		span,
		span::after,
		span::before {
			background-color: #fff;
		}
	}

	&.active {
		span {
			height: 0;
		}

		span::before {
			transform: rotate(45deg);
		}

		span::after {
			transform: rotate(-45deg);
		}
	}
}
